{% extends 'base.html.twig' %}

{% block title %}Edit Revenu{% endblock %}

{% block body %}
    <h1>Edit Revenu</h1>

    {{ include('revenu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_home') }}">back to list</a>

    {{ include('revenu/_delete_form.html.twig') }}
{% endblock %}
