<form method="post" action="{{ path('app_mensualite_delete', {'id': mensualite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mensualite.id) }}">
    <button class="btn">Delete</button>
</form>
