* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #b9b9bb;
}

html, body {
    height: 100%;
}

.main{
    height: 100%;
    background: #0022f1;
}

.sidebar{
    position: relative;
    background: #1f1e25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.sidebar a:hover {
    color: #fff;
}

/* Config */

.categorie-container {
border: 1px solid #ccc;
}

.categorie-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
}

.categorie-liste {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.categorie-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
    background: #0c0c0d;
}

/* MOBILE */
@media screen and (max-width: 640px){
    .main, .sidebar{
        float: none;
        width: 100%;
    }

    .sidebar {
        min-height: 40px;
        flex-direction: row;
    }

    .main {
        background: #232327;
    }

}

/* ORDI */
@media screen and (min-width: 640px){

    .main, .sidebar {
        float:left;
    }

    .main{
        width: 75%;
    }
    .sidebar{
        flex-direction: column;
        width: 25%;
        height: 100%;
    }
}